In [8]:
import pandas as pd

test_data = pd.read_excel('file_example_XLSX_10.xlsx')

temp_data = test_data[test_data["Country"] == "United States"]
temp_data[temp_data['Gender'] == "Female"]

   0 First Name Last Name  Gender        Country  Age        Date    Id
0  1      Dulce     Abril  Female  United States   32  15/10/2017  1562
3  4   Kathleen    Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida   Magwood  Female  United States   58  16/08/2016  2468
7  8    Earlean    Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza   Weiland  Female  United States   40  21/05/2015  6548